<launch>
  <node pkg="mediation_layer"
    type="mediation_layer"
    name="medation_layer"
    output="screen">

    <param name="kforce_quad" value="0.05"/>
    <param name="kforce_object" value="0.05"/>
    <param name="kforce_point" value="0.001"/>
    <param name="zeroX" value="0.001"/> <!--location of .ply x0 in global frame-->
    <param name="zeroY" value="0.001"/>
    <param name="zeroZ" value="0.001"/>
    <param name="sizeThresh" value=0.25/> <!--objects smaller than sizethresh are treated as point masses-->
    <param name="distThresh" value=0.25/> <!--size thresh under which to lump objects into a single mass-->
    <param name="numquads" value="2"/>

    <!-- MUST USE GLOBAL FRAME FOR POSE TOPICS -->
    <param name="quadPoseTopic_1" type="string" value="Valkyrie/odom"/> 
    <param name="quadPVAListenTopic_1" type="string" value="px4_control/PVA_Ref"/>
    <param name="quadPVAPublish_1" type="string" value="px4_control/PVA_Ref_2"/>
    <param name="quadPoseTopic_2" type="string" value="Dragon/odom"/>
    <param name="quadPVAListenTopic_2" type="string" value="px4_control/PVA_Ref_3"/>
    <param name="quadPVAPublish_2" type="string" value="px4_control/PVA_Ref_4"/>

  </node>
</launch>